@{
    ViewData["Title"] = "Home";
}

<section class="hero-section">
    <div class="container">
        <div class="hero-text">
            <h2 class="hero-greeting">Hey there!</h2>
            <h1 class="hero-name">Hi, I'm Ayshi.</h1>
            <p class="hero-description">
                “As Ayshi, I am dedicated to crafting exceptional digital experiences. My expertise encompasses the full spectrum of design, from intuitive user interfaces to robust web applications. I am committed to delivering impactful and elegant solutions that meet your needs. I invite you to explore my portfolio and discuss how we can bring your vision to fruition.”
            </p>
        </div>
        
    </div>
</section>
